@import './nullify.scss';

$content-padding: 2.7rem 18%;
$content-padding-tablet: 2.7rem 4.8rem;

$border-radius: 5px;

$tablet-width: 415px;

body {
  background-image: url('../assets/images/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.signup {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0;
  
  box-shadow: .5px .5px 3rem 1.5px rgba(0, 0, 0, 0.5);

  @media (min-width: $tablet-width) {
    height: auto;
    max-width: $tablet-width;
    margin: 1.8rem auto;
  }

  .signup-preview {
    padding: $content-padding;
    padding-bottom: 25.5rem;

    background-color: rgb(1,50,67);
    background-image: url('../assets/images/iPhone Mockup.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    border-bottom: .5px solid gray;

    @media (min-width: 450px) {
      max-width: 28.12rem;
      padding: $content-padding-tablet;
      padding-bottom: 25.4rem;
    }

    .signup-preview-content {
      color: white;
      text-align: center;

      &__title {
        padding-bottom: .65rem;

        font-weight: 700;
        font-size: 2.2rem;
      }

      &__description {
        opacity: .5;
      }
    }
  }


  .signup-body {
    background-color: rgb(255,255,255);
    height: 100%;

    .signup-body-content {
      padding: $content-padding;

      text-align: left;

      @media (min-width: 450px) {
        padding: $content-padding-tablet;
      }

      &__title {
        padding-bottom: 1.8rem;
        
        font-weight: 700;
        font-size: 2.2rem;
      }

      &__form {
        font-weight: 600;

        input:not([type=checkbox]) {
          display: block;
          width: 100%;
          padding: 1rem;
          margin-top: .55rem;

          border: .5px solid gray;
          border-radius: $border-radius;
        }

        &-section {
          padding-bottom: 1.3rem;
        }

        .conditions {
          display: flex;
          align-items: baseline;

          label {
          display: inline-block;
          width: 70%;
          padding-left: .3rem;

          font-weight: 500;
          line-height: 1.4rem;
          }
          
          a {
            font-weight: 600;
            color: rgb(1,50,67);
            text-decoration: underline;
          }
        }

        &-btn {
          width: 100%;
          padding: 1rem;

          background-color: rgb(1,50,67);
          color: rgb(255,255,255);
          font-weight: 600;
          border-radius: $border-radius;
        }
      }
    }
  }
}






