@import './nullify.scss';


.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .signup-media {

    &__header {}
      &__title {}
      &__description {}
      
    &__img {}
  }

  .signup-page {


    &__title {}

    &__form {}
  }
}

.login-form {
  &__email {}
  
  &__pwd {}
  
  &__conditions {}
}


